@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@700;800&family=Staatliches&display=swap");

@font-face {
  font-family: BLKND;
  src: url(./fonts/BLKND-SANS.otf);
}

@font-face {
  font-family: up;
  src: url(./fonts/upheavtt.otf);
}

@font-face {
  font-family: milli;
  src: url(./fonts/Fontspring-DEMO-milligrammacro-heavy.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.auth-section {
  padding: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}

body {
  background: #eefef5;
  background-image: url(../../Nuggets_frontend/assets/noise-light.ico);
}

.container {
  border-radius: 100px;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 3vw;
  padding-top: 1vw;
  background: #eefef5;
  position: relative;
  background-image: url(../../Nuggets_frontend/assets/noise-light.ico);
}

h1 {
  font-size: 75px;
  text-transform: uppercase;
  text-align: center;
  font-family: up;
  color: #37429b;
}
.header {
  margin-bottom: 5px;
  padding: 10px;
  display: flex;
  align-items: center; /* vertically*/
  justify-content: space-between; /* horizontally*/
}

.logo {
  display: flex;
  align-items: center;
  justify-content: spacebetween;
  gap: 2vw;
  margin-left: 2vw;
}

.logo img {
  width: 72px;
  height: 72px;
}

.sharebtn,
.postbtn {
  border: #162356 solid;
  font-family: up;
  line-height: 1;
  font-size: 24px;
  padding: 0.8vw;
  transition: 0.2s ease-out;
  cursor: pointer;
  color: #e1e5ff;
  border-radius: 18px;
  border: 4px solid #2b0061;
  background: #37429b;
  box-shadow: 6px 6px 0px 0px #2b0061;
}

.sharebtn:hover,
.postbtn:hover {
  background-color: #37429b;
  color: aliceblue;
  transform: scale(96%);
  box-shadow: none;
}
.sharebtn:active,
.postbtn:active {
  transform: scale(94%);
  color: white;
}

.factform {
  margin-top: 6vh;
  /* padding: 0px 20px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
  height: auto;
  border-radius: 24px;
}

.fact-textarea {
  border: none;
  color: #37429b;
  font-family: Inter;
  font-size: 1.625vw;
  resize: vertical;
  width: auto;
  flex-grow: 1;
  transition: 0.2s ease-out;
  border-radius: 18px;
  background: #ffffe8;
  overflow: auto;
  resize: none;
  min-height: 24vh;
  padding-top: 0.4vw;
  padding-left: 0.6vw;
  width: 95%;
  padding: 1vw;
  padding-left: 1.2vw;
  box-sizing: border-box;
  padding-bottom: 0.4vw;
  padding-right: 0.4vw;
  border: 4px solid #37429b;
  box-shadow: 7px 7px 0px 0px #37429b;
  transition: 0.25s ease-in-out;
}

.source-textarea {
  border: none;
  color: #37429b;
  font-family: Inter;
  font-size: 1.625vw;
  transition: 0.2s ease-out;
  border-radius: 18px;
  background: #ffffe8;
  overflow: auto;
  resize: none;
  height: auto;
  padding-top: 0.4vw;
  padding-left: 0.6vw;
  width: 95%;
  padding: 1vw;
  padding-left: 1.2vw;
  box-sizing: border-box;
  padding-bottom: 0.8vw;
  padding-right: 0.4vw;
  border: 4px solid #37429b;
  box-shadow: 7px 7px 0px 0px #37429b;
  transition: 0.25s ease-in-out;
}

textarea:focus {
  outline: none;
  border: 4px solid #37429b;
  box-shadow: none;
}

.factform input::placeholder,
textarea::placeholder {
  color: #37429b;
  font-size: 1.625vw;
  font-family: Inter;
}

.factform span {
  width: 5%;
  font-size: 1.625vw;
  font-family: up;
  color: #f4fef8;
  text-align: center;
}

.postbtn {
  margin-top: 20px;
  padding: 12px;
  font-size: 30px;
}

.main {
  display: grid;
  gap: 40px;
  margin-top: 4vh;
}

ul {
  list-style: none;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  font-family: inter;
  font-weight: 800;
  color: #162356;
  background: #ffffe8;
  margin-bottom: 20px;
  border-radius: 18px;
  padding: 8px 24px; /* vertical horizontal*/
  display: flex;
  align-items: center;
  gap: 24px;
  letter-spacing: -0.85px;
  color: #3c3f9b;
  font-family: Inter;
  font-size: 1.625vw;
  font-style: normal;
  font-weight: 800;
}

.fact :first-child {
  flex-grow: 1;
}

.votebuttons {
  margin-left: auto;
  display: flex;
  flex-shrink: 0;
  gap: 8px;
}

.like,
.mind,
.revoke {
  border: #762cff solid;
  background-color: aliceblue;
  font-size: 14px;
  padding: 5px;
  padding-bottom: 8px;
  border-radius: 0.5vw;
  color: #162356;
  font-family: up;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.25s ease-out;
  font-family: Inter;
  font-size: 1vw;
  font-weight: 800;
  color: #e1e5ff;
  border: 4px solid #2b0061;
  background: #4853a6;
  box-shadow: 2px 2px 0px 0px #2b0061;
}

.like:hover,
.mind:hover,
.revoke:hover {
  box-shadow: none;
  transform: scale(98%);
}

.like:active,
.mind:active,
.revoke:active {
  box-shadow: none;
  transform: scale(94%);
}

.likeActive,
.mindActive,
.revokeActive {
  border: 4px solid #c4c6fe;
  background-color: #4853a6;
  font-size: 14px;
  padding: 5px;
  padding-bottom: 8px;
  border-radius: 0.5vw;
  color: #162356;
  font-family: up;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.25s ease-out;
  font-family: Inter;
  font-size: 1vw;
  font-weight: 800;
  color: #c4c6fe;
}
.votebuttons button:disabled {
  background-color: aliceblue;
  color: #162356;
  border: #162356 solid;
  transform: scale(100%);
}
.source:link {
  color: #3c3f9b;
  font-family: up;
  text-decoration: none;
  margin-left: 12px;
  transition: 0.4s;
  letter-spacing: 0.5px;
}
.source:visited {
  color: #3c3f9b;
}
.source:hover {
  color: #ffe627;
}
.source:active {
  color: #3c3f9b;
}
