* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fff;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.crm {
  font-family: blknd;
  color: #000;
  font-size: 60px;
  font-weight: bold;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: milli;
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top: 0px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: milli;
  font-weight: bold;
  color: #000;
  font-size: 50px;
  font-weight: 700;
  line-height: normal;
  margin-top: 0px;
}

.field {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 40px;
  margin: auto;
  gap: 20px;
  padding: 5px;
}

.input {
  font-family: inter;
  padding: 5px;
  height: 150px;
  width: 400px;
  margin-top: 36px;
  font-size: 30px;
  border: 3px solid var(--onyx-0, #000);
  background:#fff5e0;
  box-shadow: 2px 2px 0px 0px #000;
}

.input:focus {
  outline: none;
}

::placeholder {
  color: black;
}

.sign {
  width: 220px;
  height: 60px;
  padding: 8px;
  margin: auto;
  margin-top: 20px;
  font-size: 26px;
  border: none;
  border-radius: 30px;
  background-color: #fff5e0;
  color: #162356;
  font-family: inter;
  /* box-shadow: 5px 5px 0px 0px #000; */
  transition: 0.2s ease-out;
  cursor: pointer;
}

.sign:hover {
  background-color: #be1e1e;
  color: aliceblue;
}
